@media (max-width: 1439px) {
    .header {
        padding: 0 65px 0 35px;
    }
    .business {
        &__image-partner-left, &__image-partner-right {
            display: none;
        }
    }
}

@media (width: 1024px) {
    .business {
        &__image-partner-left, &__image-partner-right {
            display: block;
        }
        &__image-partner-left {
            width: 360px;
            height: 230px;
            top: 35%;
            left: 1%;
        }
        &__image-partner-right {
            width: 308px;
            height: 224px;
            top: 25%;
            right: 1%;
        }
    }
}

@media (max-width: 1024px) {
    .header {
        padding: 0 15px 0 35px;
    }
    .possibilities {
        margin-top: -50px;
    }
    .content {
        padding: 120px 20px 90px;
        &__item {
            gap: 60px;
        }
    }

}

@media (width: 992px) {
    .business {
        &__image-partner-left, &__image-partner-right {
            display: block;
        }
        &__image-partner-left {
            width: 360px;
            height: 230px;
            top: 35%;
            left: 1%;
        }
        &__image-partner-right {
            width: 308px;
            height: 224px;
            top: 25%;
            right: 1%;
        }
    }
}

@media (max-width: 992px) {
    .header {
        padding: 0 15px 0 35px;
        &__nav {
            position: fixed;
            top: 0;
            right: 0;
            opacity: 0;
            transform: translateX(200%);
            transition: all .3s;
            width: 50%;
            height: 100vh;
            z-index: 100;

            background-color: $white;
            display: flex;
            flex-direction: column;
            align-items: center;

            padding: 25px 0 0;
        }
        &__nav--open {
            opacity: 1;
            transform: translateX(0);
        }
        &__list {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 0;
        }
        &__list-item {
            margin: 0 0 8px;
            text-align: center;
            height: 34px;
        }
        &__link {
            height: 100%;
            margin: 0;
            font-size: 20px;
        }
        &__btn {
            margin: 0 0 24px;
        }
        &__btn-menu-close {
            display: inline-block;
            order: -1;
            place-self: flex-end;
            margin-right: 25px;
            border: none;
            background-color: transparent;
            font-size: 44px;
            cursor: pointer;
        }
        &__btn-menu {
            width: 64px;
            height: 64px;
            background-color: transparent;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__btn-menu-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 38px;
            height: 24px;
        }
        &__btn-menu-element {
            width: 100%;
            height: 4px;
            background-color: $dark-navy;
            border-radius: 8px;
        }
    }
}

@media (width: 768px) {
    .business {
        &__image-partner-left, &__image-partner-right {
            display: block;
        }
        &__image-partner-left {
            width: 280px;
            height: 200px;
            top: 26%;
            left: 1%;
        }
        &__image-partner-right {
            width: 240px;
            height: 160px;
            top: 22%;
            right: 1%;
        }
    }
}

@media  
  (max-width: 768px) {
    .business {
        background: linear-gradient(176deg, $light-blue 35%, $light-green 36%);
    }
    .possibilities {
        &__container {
            flex-direction: column;
        }
    }
    .content {
        padding: 90px 10px 0px;
        &__item {
            width: 100%;

            flex-direction: column;
            align-items: center;
            gap: 20px;
            margin-bottom: 120px;

        }  
        &__image {
            order: -1;
        }
    }
    .footer {
        &__container {
            justify-content: unset;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 58px;
            justify-items: center;
        }
    }
}



@media  
  (max-width: 578px) {
    .header {
        padding: 0 15px 0 25px;
        &__nav {
            width: 100%;
        }
        &__btn-menu-close {
            margin-right: 25px;
        }
    }
    .business {
        background: linear-gradient(176deg, $light-blue 36%, $light-green 37%);
    }
    .business-growth {
        &__title {
            font-size: 40px;
            line-height: 55px;
        }
    }
    .content {
        padding: 90px 10px 0px;
        &__item {
            width: 100%;

            flex-direction: column;
            align-items: center;
            gap: 20px;
            margin-bottom: 120px;

        }  
        &__image {
            order: -1;
        }
    }
    .footer {
        &__container {
            justify-content: unset;
            justify-items: unset;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 38px;
            margin-bottom: 58px;
        }
        &__list {
            padding-left: 30px;
        }
    }
}

@media  
  (max-width: 320px) {
    .business {
        padding-top: 70px;
        background: linear-gradient(176deg, $light-blue 35%, $light-green 36%);

    }
    .business-growth {
        &__title {
            font-size: 32px;
            line-height: 50px;
        }
    }
    .footer {
        &__container {
            justify-content: unset;
            justify-items: unset;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 38px;
            margin-bottom: 58px;
        }
        &__list {
            padding-left: 50px;
        }
        &__row {
            flex-direction: column;
            gap: 20px;
        }
    }
}