@import 'normalize';
@import 'variables';

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;

}

.wrapper {
    max-width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    overflow-x: hidden;

    position: relative;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    user-select: none;
    pointer-events: none; 
}

.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 130px 0 70px;
    &__logo {
        width: 202px;
        height: 28px;
    }
    &__nav {
        display: flex;
        align-items: center;
    }
    &__list {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__list-item {
        margin-right: 32px;
    }
    &__link {
        color: $dark-navy;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
    }
    &__btn {
        display: flex;
        flex-wrap: nowrap;
        background-color: transparent;
        border: 1px solid $light-blue;
        color: $light-blue;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        margin-right: 32px;
        padding: 12px 23px;
    }
    &__login {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        color: $dark-navy;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        & img {
            width: 16px;
            margin-right: 4px;
        }
    }
    &__btn-menu, &__btn-menu-close {
        display: none;
    }
} 

.main {
    position: relative;
    width: 100%;
}

.business {
    background: linear-gradient(176deg, $light-blue 50%, $light-green 51%);
    padding: 115px 10px 140px;
    display: flex;
    flex-direction: column;
    gap: 220px;

    position: relative;

    &__images_absolute {
        z-index: 2;
        position: absolute;
    }
    &__image-partner-left {
        width: 390px;
        height: 255px;

        mix-blend-mode: luminosity;
        top: 34%;
        left: 7%;
    }
    &__image-partner-right {
        width: 340px;
        height: 261px;

        mix-blend-mode: luminosity;
        background-color: transparent;
        top: 21%;
        right: 9%;
    }
    &__image-triangles-left {
        width: 107px;
        height: 87px;
        bottom: 8%;
        left: 8%;
    }
    &__image-triangles-right {
        width: 120px;
        height: 98px;
        bottom: 37%;
        right: 4%;
    }

}


.business-growth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    &__title {
        color: $white;
        font-size: 48px;
        font-weight: 700;
        line-height: 65px;
        margin-bottom: 7px;
    }
    &__text {
        color: $white;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 33px;
    }
    &__title, &__text {
        max-width: 660px;
    }
    &__btn {
        background-color: #000;
        border: none;
        color: $white;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        padding: 16px 25px;
    }
}

.possibilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    &__title {
        columns: $black;
        font-size: 40px;
        line-height: 50px;
        font-weight: 500;
        margin-bottom: 40px;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        gap: 56px;
    }
    &__container-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__image {
        width: 100px;
        margin-bottom: 24px;
    }
    &__text {
        max-width: 254px;
        color: $dark-navy;
        font-weight: 400;
    }
}

.content {
    padding: 120px 20px 90px;
    text-align: left;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 120px;
        margin-bottom: 180px;
    }
    &__info {
        max-width: 410px;
    }
    &__title {
        color: #181818;
        font-size: 28px;
        line-height: 37px;
        font-weight: 700;
        margin-bottom: 24px;
    }
    &__text {
        margin-bottom: 24px;
    }
    &__image {
        max-width: 410px;
        width: 100%;
        max-height: 310px;
    }
    &__link {
        color: $light-blue;
        font-weight: 500;
    }
    &__link-image {
        width: 24px;
        height: 24px;
        color: $light-blue;
        margin-left: 8px;
    }
}

.footer {
    padding: 90px 10px 60px;
    background-color: $black;
    text-align: left;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 58px;
    }
    &__list {
        display: flex;
        flex-direction: column;
    }
    &__lists-header {
        color: $white;
        line-height: 18px;
        font-weight: 700;
        margin-bottom: 24px;
    }
    &__link {
        color: $white;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px;
    }
    &__row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    &__copyright, &__follow-social {
        color: $white;
        font-size: 14px;
        line-height: 18px;
    }
}


@import 'media';